<div class="header-wrapper">
    <div class="header">

        <div class="white"></div>
        <div class="black">

            <div class="header-block">
                <div class="header-background">
                    <div class="profile-logo-header">

                        <div class="logo">
                            <h1><a href="">Disruptive Propulsion, Inc. </a></h1>
                        </div>

                        <div class="profile">
                            <img src="styles/images/star_lord.jpg" class="profilepic-size"/>

                            <div class="logged-in logged ">
                                Logged in:
                                <a href=""> <span class="caret"></span></a>
                            </div>
                            <div class="logged-in-user logged">Starlord69</div>
                        </div>
                    </div>

                    <div class="profile-banner">
                        <div class="banner">
                            <div class="section-one section">

                                <span class="sec-one">The </span>
                                    <span class="universe">Universe</span>
                                <span class="sec-two">DOES NOT</span>
                                <span class="sec-three">stand still. </span>
                                <span class="sec-four">Keep up, or die.</span>
                            </div>
                        </div>


                        <div class="tabs">
                            <div class="menu">
                                <div class="navigation">
                                    <ul>
                                        <li class="home">
                                            <a href="#tab-1" title=""><i id=""></i>Home</a>
                                        </li>

                                        <li class="products-and-services">
                                            <a href="#tab-2" title="">Product and Services</a>
                                        </li>

                                        <li class="pricing">
                                            <a href="#tab-3" title="">Pricing</a>
                                        </li>

                                        <li class="support">
                                            <a href="#tab-4" title="">Support</a>
                                        </li>

                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="section-two section">
                            <div class="section-two_block"></div>

                            <div class="description">
                                <img src="styles/images/001_assets_play button.png" class="play_button"/>

                                <div class="desc">Disruptive Propulsion's MicroZPE Twin Thruster Retrofit on Origin M50
                                    Interceptor
                                </div>
                            </div>

                        </div>

                        <div class="section-three section">
                            <div class="account-login">
                                <div class="login">Logged in:</div>
                                <p class="account-name">Starlord69</p>

                                <div class="my-account accounts"><a href=" ">My Account</a></div>
                                <div class="service-request accounts"><a href=" ">Service Requests</a></div>
                                <div class="maintenace-schedule accounts"><a href="">Maintenance Schedule</a></div>
                                <div class="logout accounts"><a href="">Logout</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="clearfix"></div>

</div>