@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Raleway", "Helvetica", aria, sans-serif; }

body {
  background: #fff;
  color: #fff;
  font-size: 16px; }

a {
  color: #000;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: none;
    outline: 0 none;
    border: 0 none; }
  a:hover {
    color: #fff; }

.nav a,
.mobile-menu {
  transition: 275ms; }

.cUL {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.mobile-menu {
  text-indent: -999em;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 7px; }
  .mobile-menu span {
    position: relative;
    width: 20px;
    height: 2px;
    display: block;
    background: #fff;
    top: -10px; }
    .mobile-menu span::before, .mobile-menu span::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      display: block;
      background: #fff;
      transition: 275ms; }
    .mobile-menu span::before {
      top: -6px; }
    .mobile-menu span::after {
      top: 6px; }
  .mobile-menu:focus, .mobile-menu:hover {
    border: 1px solid #A393BF; }
  .head-menu-active .mobile-menu span::before {
    transform: rotate(-45deg);
    width: 12px;
    top: -5px;
    left: -1px; }
  .head-menu-active .mobile-menu span::after {
    transform: rotate(45deg);
    width: 12px;
    top: 5px;
    left: -1px; }

.nav {
  margin-top: 88px; }
  .nav::before {
    content: '';
    position: absolute;
    width: 37px;
    height: 100%;
    background: linear-gradient(to right, #0c0910 0%, #0c0910 35%, rgba(12, 9, 16, 0) 99%);
    left: 0;
    z-index: 9; }
  .nav a {
    font-size: 13px;
    padding: 12px;
    display: inline-block;
    opacity: 0; }
  .nav > ul {
    margin-left: 0; }
    .nav > ul li:nth-child(1) a {
      transition-delay: 200ms; }
    .nav > ul li:nth-child(2) a {
      transition-delay: 250ms; }
    .nav > ul li:nth-child(3) a {
      transition-delay: 275ms; }
    .nav > ul a {
      transform: translate(-320px);
      border-radius: 20px; }
    .head-menu-active .nav > ul a {
      transform: translate(0);
      opacity: 1; }

body {
  font-family: 'Open Sans', sans-serif; }

.header-wrapper {
  margin: 0 !important;
  width: 100%; }
  @media (min-width: 75em) {
    .header-wrapper {
      padding-top: 35px; } }
  .header-wrapper .navigation {
    padding-bottom: 13px; }
    .header-wrapper .navigation a:hover {
      border-bottom: 2px solid #00447D; }
    .header-wrapper .navigation ul {
      clear: both;
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center; }
    .header-wrapper .navigation ul a {
      color: #00447d;
      margin: 0px 20px;
      font-size: 19px;
      font-weight: 600;
      -webkit-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      transition: all 100ms linear; }
      @media (max-width: 18.75em) {
        .header-wrapper .navigation ul a {
          margin: 0px 0px;
          font-size: 12px; } }
    .header-wrapper .navigation ul li {
      float: none;
      display: inline-block;
      padding-top: 15px;
      top: 143px; }
      @media (max-width: 18.75em) {
        .header-wrapper .navigation ul li {
          height: 10px;
          margin: 0px;
          padding-top: 15px; } }
      @media (max-width: 48em) {
        .header-wrapper .navigation ul li {
          margin: 17px 0px 0px -20px;
          padding-top: 15px; } }
      @media (max-width: 75em) {
        .header-wrapper .navigation ul li {
          margin: 15px 4px 0px 0px;
          padding-top: 0px; } }
    @media (min-width: 75em) {
      .header-wrapper .navigation {
        top: 85px;
        padding-right: 0px;
        position: absolute;
        margin-left: 365px;
        margin-top: 13px;
        padding-bottom: 13px; } }
    @media (min-width: 120em) {
      .header-wrapper .navigation {
        top: 97px;
        width: 76%;
        position: absolute;
        margin-left: 0px;
        margin-top: 0px;
        padding-bottom: 13px; } }

.header h1 {
  height: 57px;
  margin: 0; }
.header .logo {
  padding: 25px 10px 0px !important;
  border-bottom: 0px none;
  float: left;
  width: 25%; }
.header .logo a {
  background: url("../../images/001_assets_DPLogo.png") no-repeat scroll 0% 0%/237px 137px;
  text-indent: -999em;
  float: left;
  margin-top: 12px;
  display: block;
  height: 137px;
  width: 237px; }
  @media (max-width: 26.25em) {
    .header .logo a {
      background: url("../../images/001_assets_DPLogo.png") no-repeat scroll;
      background-size: 90% 100%;
      margin-top: 43px !important;
      height: 79px;
      width: 155px; } }
  @media (max-width: 75em) {
    .header .logo a {
      margin-top: 56px; } }
.header .profile {
  float: right;
  position: relative;
  background: -moz-linear-gradient(left, rgba(0, 68, 125, 0.85) 0%, rgba(0, 68, 125, 0.85) 50%, rgba(0, 68, 125, 0.85) 51%, rgba(0, 68, 125, 0.85) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 68, 125, 0.85)), color-stop(50%, rgba(0, 68, 125, 0.85)), color-stop(51%, rgba(0, 68, 125, 0.85)), color-stop(100%, rgba(0, 68, 125, 0.85)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 68, 125, 0.85) 0%, rgba(0, 68, 125, 0.85) 50%, rgba(0, 68, 125, 0.85) 51%, rgba(0, 68, 125, 0.85) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 68, 125, 0.85) 0%, rgba(0, 68, 125, 0.85) 50%, rgba(0, 68, 125, 0.85) 51%, rgba(0, 68, 125, 0.85) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 68, 125, 0.85) 0%, rgba(0, 68, 125, 0.85) 50%, rgba(0, 68, 125, 0.85) 51%, rgba(0, 68, 125, 0.85) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 68, 125, 0.85) 0%, rgba(0, 68, 125, 0.85) 50%, rgba(0, 68, 125, 0.85) 51%, rgba(0, 68, 125, 0.85) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d900447d', endColorstr='#d900447d', GradientType=1);
  /* IE6-9 */ }
  @media (min-width: 75em) {
    .header .profile {
      width: 7%; } }
  @media (min-width: 120em) {
    .header .profile {
      width: 5%; } }
  .header .profile .profilepic-size {
    width: 100%; }
    @media (max-width: 26.25em) {
      .header .profile .profilepic-size {
        height: 100px;
        width: 95px; } }
    @media (min-width: 75em) {
      .header .profile .profilepic-size {
        width: 157px;
        margin-left: -74px;
        height: 175px; } }
    @media (min-width: 120em) {
      .header .profile .profilepic-size {
        margin-left: -72px; } }
  .header .profile .logged {
    padding-left: 10px; }
  .header .profile .logged-in {
    position: relative;
    font-size: 8px;
    color: #3CA3EE;
    padding-top: 10px; }
  .header .profile .logged-in-user {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px; }
.header .caret {
  position: relative; }
.header .caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent; }
.header .caret:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }
.header .header-background {
  background: url("../../images/001_assets_galaxy_background.png") no-repeat scroll 0% 0%;
  background-size: cover;
  position: relative; }
  @media (min-width: 75em) {
    .header .header-background {
      width: 100%;
      height: 600px;
      max-width: 1200px;
      margin: 0 auto;
      margin-top: -476px; } }
  @media (min-width: 120em) {
    .header .header-background {
      max-width: 1700px;
      margin-top: -213px;
      height: 683px; } }
.header .profile-logo-header {
  background: -moz-linear-gradient(left, white 0%, rgba(255, 249, 249, 0.51) 99%, rgba(255, 255, 255, 0.5) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(100%, rgba(255, 249, 249, 0.51)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 249, 249, 0.51) 99%, rgba(255, 255, 255, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, white 0%, rgba(255, 249, 249, 0.51) 99%, rgba(255, 255, 255, 0.5) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, white 0%, rgba(255, 249, 249, 0.51) 99%, rgba(255, 255, 255, 0.5) 100%);
  /* IE10+ */
  background: linear-gradient(to right, white 0%, rgba(255, 249, 249, 0.51) 99%, rgba(255, 255, 255, 0.5) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#80ffffff', GradientType=1);
  /* IE6-9 */
  position: relative;
  overflow: hidden;
  width: 100%; }
  @media (min-width: 75em) {
    .header .profile-logo-header {
      height: 175px;
      max-width: 1200px; } }
  @media (min-width: 120em) {
    .header .profile-logo-header {
      max-width: 1700px; } }
.header .white {
  display: none; }
  @media (min-width: 75em) {
    .header .white {
      height: 140px;
      width: 100%;
      background: #FFF none repeat scroll 0% 0%;
      display: block; } }
  @media (min-width: 120em) {
    .header .white {
      position: relative;
      top: -36px;
      height: 173px; } }
.header .black {
  padding-top: 337px;
  width: 100%;
  background: #333 none repeat scroll 0% 0%; }
  @media (min-width: 20em) {
    .header .black {
      padding-top: 0px; } }
  @media (min-width: 46.875em) {
    .header .black {
      padding-top: 0px; } }
  @media (min-width: 75em) {
    .header .black {
      background: #333 none repeat scroll 0% 0%;
      padding-top: 301px; } }
  @media (min-width: 120em) {
    .header .black {
      padding-top: 0px; } }
  @media (min-width: 75em) {
    .header .black .header-block {
      margin: 0px auto; } }
  @media (min-width: 20em) {
    .header .black .tabs {
      background-color: #fff; } }
  @media (max-width: 48em) {
    .header .black .tabs {
      background-color: #fff;
      padding-bottom: 9px; } }

.profile-banner {
  width: 100%; }
  .profile-banner .banner {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    padding-top: 1px; }
    @media (min-width: 75em) {
      .profile-banner .banner {
        position: absolute;
        height: 425px;
        width: 433px;
        padding-top: 9px; } }
    @media (min-width: 120em) {
      .profile-banner .banner {
        height: 508px; } }
    .profile-banner .banner .section-one {
      font-size: 27px;
      margin: 0px auto;
      text-align: center;
      padding-top: 0px;
      height: 100px;
      margin-top: -31px; }
      @media (max-width: 39.3125em) {
        .profile-banner .banner .section-one {
          padding-top: 37px; } }
      @media (min-width: 75em) {
        .profile-banner .banner .section-one {
          padding-top: 21%;
          padding-bottom: 2%;
          height: 432px; } }
    .profile-banner .banner .sec-one {
      font-weight: 300;
      line-height: 50px; }
      @media (max-width: 39.3125em) {
        .profile-banner .banner .sec-one {
          line-height: 0px; } }
      @media (min-width: 75em) {
        .profile-banner .banner .sec-one {
          font-size: 52px;
          font-weight: 300; } }
    .profile-banner .banner .universe {
      font-weight: 600; }
      @media (min-width: 75em) {
        .profile-banner .banner .universe {
          font-weight: 700;
          font-size: 52px; } }
    .profile-banner .banner .sec-two {
      font-weight: 300;
      line-height: 30px; }
      @media (max-width: 39.3125em) {
        .profile-banner .banner .sec-two {
          line-height: 0px; } }
      @media (min-width: 75em) {
        .profile-banner .banner .sec-two {
          font-size: 66px;
          font-weight: 600;
          margin-top: -26px; } }
    .profile-banner .banner .sec-three {
      font-weight: 300;
      line-height: 50px; }
      @media (max-width: 39.3125em) {
        .profile-banner .banner .sec-three {
          line-height: 0px; } }
      @media (min-width: 75em) {
        .profile-banner .banner .sec-three {
          font-size: 74px;
          margin-top: -42px;
          font-weight: 300; } }
    .profile-banner .banner .sec-four {
      font-weight: 300;
      line-height: 140px; }
      @media (max-width: 39.3125em) {
        .profile-banner .banner .sec-four {
          line-height: 0px; } }
      @media (min-width: 75em) {
        .profile-banner .banner .sec-four {
          font-size: 45px;
          font-weight: 300; } }

.section-two {
  clear: both;
  position: relative; }
  @media (min-width: 75em) {
    .section-two {
      position: absolute;
      top: 175px;
      padding-left: 433px; } }
  @media (min-width: 120em) {
    .section-two {
      padding-left: 429px; } }
  .section-two .thumbnails {
    width: 100%;
    padding-top: 0%; }
    @media (min-width: 48em) {
      .section-two .thumbnails {
        width: 100%;
        padding-top: 0%; } }
    @media (min-width: 75em) {
      .section-two .thumbnails {
        width: 75%; } }
    @media (min-width: 120em) {
      .section-two .thumbnails {
        width: 100%; } }
  .section-two .description {
    color: #00447d;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.71);
    padding: 20px;
    max-width: 767px;
    margin-left: 0;
    width: 100%; }
    @media (min-width: 48em) {
      .section-two .description {
        margin-left: 40px;
        max-width: 500px; } }
    @media (min-width: 75em) {
      .section-two .description {
        margin-left: 432px;
        max-width: 500px; } }
    @media (min-width: 85.375em) {
      .section-two .description {
        margin-left: 432px; } }
    @media (min-width: 120em) {
      .section-two .description {
        margin-left: 431px; } }
    .section-two .description .play_button {
      float: left; }
    .section-two .description .desc {
      font-size: 13px;
      margin-left: 66px; }
  .section-two .section-two_block {
    height: 508px;
    overflow: hidden;
    padding-top: 0px;
    background: url("../../images/001_assets_M50.png") no-repeat left;
    background-size: cover; }
    @media (min-width: 75em) {
      .section-two .section-two_block {
        background-position: 100% 100%;
        background-size: 100% 107%;
        width: 609px;
        height: 425px;
        display: block; } }
    @media (min-width: 85.375em) {
      .section-two .section-two_block {
        width: 610px; } }
    @media (min-width: 120em) {
      .section-two .section-two_block {
        background-position: 100% 44%;
        background-size: 100%;
        display: block;
        height: 508px;
        width: 1114px; } }

.section-three {
  display: none; }
  .section-three a {
    color: #fff; }
  @media (min-width: 75em) {
    .section-three {
      color: #FFF;
      display: block;
      font-size: 12px;
      font-weight: 600;
      width: 100%;
      text-align: justify;
      padding-left: 1%;
      top: 175px;
      position: absolute; } }
  @media (min-width: 120em) {
    .section-three {
      top: 175px; } }
  .section-three .login {
    color: #3FA9F5; }
  .section-three .accounts {
    padding-top: 17%; }
  @media (min-width: 75em) {
    .section-three .account-login {
      background-color: rgba(9, 74, 134, 0.93);
      float: right;
      height: 425px;
      width: 158px;
      padding-left: 1%;
      padding-top: 2%; } }
  @media (min-width: 120em) {
    .section-three .account-login {
      height: 508px; } }

.footer {
  color: #000;
  background-color: #999999;
  width: 100%;
  height: 288px; }
  @media (min-width: 75em) {
    .footer {
      width: 100%;
      margin: 0 auto;
      max-width: 1200px; } }
  @media (min-width: 120em) {
    .footer {
      max-width: 1700px;
      height: 285px; } }
  .footer .footer-logo {
    display: block;
    margin: 0px auto;
    padding: 16px; }
    @media (min-width: 30em) {
      .footer .footer-logo {
        float: left; } }
  .footer .footer-logo-div {
    text-align: center; }
    .footer .footer-logo-div span {
      color: #fff; }
      @media (min-width: 30em) {
        .footer .footer-logo-div span {
          margin-top: 27px;
          float: left; } }

@media (min-width: 75em) {
  .block-three {
    background-color: #E6E6E6; } }

.page1 {
  list-style: none;
  list-style-type: none; }
  @media (min-width: 75em) {
    .page1 .block-one {
      max-width: 1200px;
      margin: 0 auto; } }
  @media (min-width: 120em) {
    .page1 .block-one {
      max-width: 1700px; } }
  @media (min-width: 75em) {
    .page1 .block-two {
      background-color: #E6E6E6;
      margin-top: 0px;
      width: 100%; } }
  .page1 .thumbnails {
    overflow: hidden; }
    @media (min-width: 75em) {
      .page1 .thumbnails {
        float: right;
        overflow: hidden;
        clear: both;
        width: 63%; } }
    @media (min-width: 120em) {
      .page1 .thumbnails {
        width: 1268px; } }
    .page1 .thumbnails .featured {
      overflow: hidden; }
      @media (min-width: 120em) {
        .page1 .thumbnails .featured {
          margin-left: 18px; } }
  .page1 .info_thumb_images {
    width: 100%;
    height: 245px;
    object-fit: cover;
    display: block;
    max-width: 475px;
    padding-top: 30px; }
    @media (min-width: 75em) {
      .page1 .info_thumb_images {
        width: 100%; } }
  .page1 .info_thumb {
    padding-left: 5%;
    width: 100%;
    padding-right: 5%; }
    @media (min-width: 48em) {
      .page1 .info_thumb {
        width: 33%;
        display: inline-block;
        float: left;
        height: 570px;
        position: relative;
        padding-left: 0%;
        padding-right: 1%; } }
    @media (min-width: 75em) {
      .page1 .info_thumb {
        height: 600px;
        width: 248px;
        padding-left: 0;
        padding-right: 16px; } }
    @media (min-width: 120em) {
      .page1 .info_thumb {
        height: 493px;
        width: 416px;
        padding-left: 22px;
        padding-right: 0px; } }
    .page1 .info_thumb:last-child {
      padding-right: 0; }
      @media (max-width: 26.25em) {
        .page1 .info_thumb:last-child {
          padding-right: 5%; } }
    .page1 .info_thumb .info {
      overflow: hidden;
      padding-top: 23px; }
      .page1 .info_thumb .info .title {
        color: #FF931E;
        font-size: 19px; }
      .page1 .info_thumb .info .subtitle {
        color: #5F5F5F;
        font-size: 13px;
        font-weight: bold; }
      .page1 .info_thumb .info .description {
        color: #5F5F5F;
        font-size: 12px;
        text-align: justify; }
        @media (min-width: 48em) {
          .page1 .info_thumb .info .description {
            font-size: 12px; } }
      .page1 .info_thumb .info .see_more {
        float: right;
        padding-bottom: 10px; }
        @media (min-width: 48em) {
          .page1 .info_thumb .info .see_more {
            position: absolute;
            right: 0;
            bottom: 2%; } }
        @media (min-width: 75em) {
          .page1 .info_thumb .info .see_more {
            bottom: 0px; } }
  .page1 .advertisements {
    background-color: #F5F5F5;
    height: 157px;
    width: 100%; }
    @media (min-width: 75em) {
      .page1 .advertisements {
        height: auto;
        background-color: transparent;
        overflow: hidden;
        width: 36%;
        max-width: 1200px; } }
    @media (min-width: 120em) {
      .page1 .advertisements {
        width: 432px; } }
  .page1 .advertisement {
    text-align: center; }
    .page1 .advertisement .add_1 {
      height: auto;
      max-width: 432px;
      display: block;
      margin: 0 auto;
      width: 100%; }
      @media (min-width: 48em) {
        .page1 .advertisement .add_1 {
          float: left; } }
    .page1 .advertisement .add_2 {
      display: block;
      height: auto;
      padding-top: 5%;
      width: 100%;
      max-width: 432px;
      margin: 0 auto; }
    .page1 .advertisement .add_3 {
      display: block;
      padding-top: 5%;
      width: 100%; }
      @media (min-width: 48em) {
        .page1 .advertisement .add_3 {
          display: block;
          padding-top: 0%;
          float: left;
          width: 45%; } }
      @media (min-width: 120em) {
        .page1 .advertisement .add_3 {
          height: auto;
          width: auto; } }
  .page1 .first_add {
    border-style: solid;
    border-width: 2px;
    border-top-color: #DADADA;
    border-bottom-color: #DADADA; }
    @media (min-width: 48em) {
      .page1 .first_add {
        border-style: none;
        border-width: 0;
        border-top-color: none;
        border-bottom-color: none; } }
    @media (min-width: 75em) {
      .page1 .first_add {
        border-style: none;
        border-width: 0px; } }
  .page1 .second_add {
    background: url("../../images/001_assets_ad02_portrait.png") no-repeat left;
    display: block;
    height: 500px;
    padding-top: 5%;
    width: 100%;
    max-width: 432px;
    margin: 0 auto; }
    @media (max-width: 26.25em) {
      .page1 .second_add {
        background-size: 100%; } }
    @media (min-width: 48em) {
      .page1 .second_add {
        background: url("../../images/001_assets_ad02_landscape.png") no-repeat scroll left center;
        float: left;
        max-width: 499px;
        width: 43%;
        height: 156px;
        padding-top: 0px;
        background-color: #F5F5F5;
        background-size: inherit; } }
    @media (min-width: 75em) {
      .page1 .second_add {
        clear: both;
        background: url("../../images/001_assets_ad02_portrait.png") no-repeat scroll left center;
        width: 100%;
        height: 461px;
        background-size: 100% 100%; } }
    @media (min-width: 75em) {
      .page1 .second_add {
        width: 432px; } }
  .page1 .third_add {
    width: 100%;
    padding-top: 527px; }
    @media (min-width: 48em) {
      .page1 .third_add {
        background-color: #4372FF;
        padding-top: 0px;
        overflow: hidden; } }
    @media (min-width: 75em) {
      .page1 .third_add {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%; } }
    @media (min-width: 120em) {
      .page1 .third_add {
        max-width: 1700px; } }

.third_add_text_1 {
  color: #fff;
  font-size: 25px;
  padding-top: 40px;
  text-align: left; }
  @media (min-width: 48em) {
    .third_add_text_1 {
      padding-top: 2px; } }

.third_add_text_2 {
  font-size: 16px;
  color: #fff;
  text-align: left; }

.add_bg {
  background-color: #4372FF;
  padding-left: 26px;
  padding-bottom: 10%;
  padding-top: 10px; }
  @media (min-width: 48em) {
    .add_bg {
      background-color: #4372FF;
      float: left;
      height: 126px;
      padding-left: 26px;
      width: 51%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

/*# sourceMappingURL=app.css.map */
